<div class="container-fluid pt-3">

    <!-- body -->
    <div *ngIf="!spinner" class="mt-5 pt-5">
        <mat-spinner class="m-auto"></mat-spinner>
    </div>

    <mat-card *ngIf="spinner" class="card-border-top p-0">
        <div>
            <mat-toolbar class="form-toolbar" color="primary">
                <mat-icon>add</mat-icon>
                <span>Add Exam</span>
            </mat-toolbar>
        </div>

        <div class="mt-1 mr-0 mr-xs-0 mr-sm-3 mr-md-3 mr-lg-3  text-center text-xs-right text-sm-right text-md-right text-lg-right">
            <button [disabled]='!update' class="ml-1" (click)="addExamFormOpenOrClose()" mat-raised-button color="primary"><mat-icon class="mr-1">add</mat-icon>Add</button>
        </div>

        <div class="row m-0 justify-content-center">
            <div class="p-0 col-md-6 col-lg-4">
                <mat-card class="card-border-top p-0 mat-elevation-z8 mt-1 mb-3 mx-3">
                    <div>
                        <mat-toolbar color="primary" class="form-toolbar">Add Exam</mat-toolbar>
                    </div>
                    <div class="p-3">
                        <form [formGroup]="addExamForm" (ngSubmit)="exam()">
                            <div class="formStyle">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Exam Name*</mat-label>
                                    <input formControlName="examName" matInput placeholder="Exam Name*">
                                    <mat-error *ngIf="(examFormSubmit && validation.examName.errors) || (validation.examName.touched && validation.examName.errors)">
                                        <div *ngIf="validation.examName.errors.required"> Exam Name is <strong>required</strong></div>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field *ngIf="!update" class="w-100" appearance="outline">
                                    <mat-label>Select Class*</mat-label>
                                    <mat-select placeholder="Select Class*" formControlName="selectedClass" multiple>
                                        <mat-option *ngFor="let class of classList" [value]="class.class_id">{{class.class_name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="row m-0">
                                <div class="col-12 col-sm-12 text-md-center text-right text-lg-right">
                                    <div *ngIf="update; else add">
                                        <button mat-raised-button color="primary"><mat-icon class="mr-1">update</mat-icon>Update</button>
                                    </div>
                                    <ng-template #add>
                                        <button mat-raised-button color="primary"><mat-icon class="mr-1">add</mat-icon>Add</button>
                                    </ng-template>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-card>
            </div>
            <div class="p-0 col-12 col-lg-8">
                <mat-card class="card-border-top p-0 mat-elevation-z8 mt-1 mb-3 mx-3">
                    <div>
                        <mat-toolbar color="primary" class="form-toolbar">All Exams</mat-toolbar>
                    </div>
                    <div class="row m-0 pt-3">
                        <div class="col-6"><b> Exam </b></div>
                        <div class="col-6"><b> Action </b></div>
                    </div>
                    <div class="row m-0" *ngFor="let exam of examList">
                        <div class="col-6">
                            {{exam.exam_name}}
                        </div>
                        <div class="col-6">
                            <mat-icon matTooltip="Delete" matTooltipPosition="left" matTooltipClass="bg-danger" (click)="deleteExam(exam.exam_id)">delete</mat-icon>
                            <mat-icon matTooltip="Assign" matTooltipPosition="right" matTooltipClass="bg-primary" (click)="assignExam(exam.exam_id,exam.exam_name)">assignment_return</mat-icon>
                            <mat-icon matTooltip="Edit" matTooltipPosition="right" matTooltipClass="bg-primary" (click)="editExam(exam.exam_id,exam.exam_name)">edit</mat-icon>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>