<div class="container-fluid pt-3">

    <!-- body -->
    <div *ngIf="!spinner" class="mt-5 pt-5">
        <mat-spinner class="m-auto"></mat-spinner>
    </div>

    <mat-card *ngIf="spinner" class="card-border-top p-0">
        <div>
            <mat-toolbar class="form-toolbar" color="primary">
                <mat-icon>add</mat-icon>
                <span>Add Religion</span>
            </mat-toolbar>
        </div>

        <div class="row m-0 justify-content-center">
            <div class="p-0 col-md-6 col-lg-4">
                <mat-card class="card-border-top p-0 mat-elevation-z8 m-3">
                    <div>
                        <mat-toolbar color="primary" class="form-toolbar">Add Religion</mat-toolbar>
                    </div>
                    <div class="p-3">
                        <form [formGroup]="addReligionForm" (ngSubmit)="addReligion()">
                            <div>
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Religion name*</mat-label>
                                    <input formControlName="religionName" matInput placeholder="Religion name*">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 text-md-center text-right text-lg-right">
                                    <button mat-raised-button color="primary"><mat-icon>add</mat-icon>Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-card>
            </div>
            <div class="p-0 col-12 col-lg-8">
                <mat-card class="card-border-top p-0 mat-elevation-z8 m-3">
                    <div>
                        <mat-toolbar color="primary" class="form-toolbar">All Religion</mat-toolbar>
                    </div>
                    <div class="row mx-0 pt-3">
                        <div class="col-6"><b> Religion </b></div>
                        <div class="col-6"><b> Action </b></div>
                    </div>
                    <div class="row mx-0" *ngFor="let religion of religionList">
                        <div class="col-6">
                            {{religion.religion_name}}
                        </div>
                        <div class="col-6">
                            <mat-icon matTooltip="Delete" matTooltipPosition="left" matTooltipClass="bg-danger" (click)="deleteReligion(religion.religion_id)">delete</mat-icon>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>